<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="template/styes.css">
</head>
<body>
  <div id="bg">
    <div id="main">
      <header>
        <section id="header_top">tg</section>
        <section id="header_center">tg1</section>
        <section id="header_bottom">tg2</section>
      </header>
      <section id="left">l</section>
      <section id="right">r</section>
      <footer class="clearfix">foot</footer>
    </div>
  </div>
</body>
</html>